* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*=========================================================================================================
--
==========================================================================================================*/
.card {
  width: 80%;
  margin: 100px auto;
  box-shadow: 0 0 10px 10px white;
  border: 1px solid black;
  border-radius: 30px;
  background-color: lightgray;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.card > * {
  margin-bottom: 30px;
}/*# sourceMappingURL=style.css.map */